[project]
name = "{{ package_name }}"
dynamic = ["version"]
description = "{{ description }}"
authors = [
    {name = "{{ author_name }}", email = "{{ author_email }}"},
]
requires-python = "==3.11.*"
readme = "README.md"
license = "MIT"

dependencies = []


[dependency-groups]
dev = [
    "mypy[install-types]>=1.19.1",
    "pre-commit>=4.2.0",
    "ruff>=0.15.6",
]

[build-system]
requires = ["setuptools>=61"]
build-backend = "setuptools.build_meta"

[tool]
    [tool.mypy]
    cache_dir = "/tmp/cache/mypy/"

    [tool.setuptools]
        [tool.setuptools.dynamic]
        version = {attr = "{{ package_name }}.__version__"}

        [tool.setuptools.packages.find]
        where = ["src"]

    [tool.pdm]
    distribution = true

    [tool.ruff]
    cache-dir = "/tmp/cache/ruff/"

    [tool.pytest.ini_options]
    cache_dir = "/tmp/cache/pytest/"
