# {{ project_name }}

## Setup
Development is conducted inside development containers. VS Code handles most
container management (build, start, stop) automatically when you open the
project ; outside of VS Code, you can use `just` recipes (see
[devcontainers.just](./devcontainers.just)).

Build time secrets are stored in `.devcontainer/env.local` ; run time secrets
are stored in the `.env.local` file. Both files are not committed to the
repository, instead `.devcontainer/env` and `.env` files act as templates.

To set up your development environment from the CLI, use `just
devcontainer::up`.

### Installing dependencies
Install libraries from pypi using: `pdm add <LIB>`. The library will appear in
[`pyproject.toml`](./pyproject.toml). You may specify a `--group` or a optional
dependencies or dependency groups, see [pdm
documentation](https://pdm-project.org/en/latest/usage/dependency/) for more
information.

### Project architecture
The project is organized as follows:

```
.recipes/               # Recipes modules for just, see also `justfile`
.devcontainer/          # Dev container configuration and setup
├── devcontainer.json   # Root configuration
├── Containerfile       # Container definition
├── setup.sh            # Optional, per user, git-untracked configuration
src/
├── {{ project_name}}/  # {{ project_name | title }} package
│   ├── init.py         # Package initialization
README.md               # Documentation root
CHANGELOG.md            # Human readable list of changes
justfile                # List of recipes
.env                    # Template configuration
.env.local              # Per-user, git-untracked secrets and environment
```
